<h1>More info on <%=@place_info.name%></h1>
<table>
  <tr>
    <td>Address: <%=@place_info.formatted_address%></td>
  </tr>
  <tr>
    <td>Phone number: <%=@place_info.formatted_phone_number%></td>
  </tr>
  <tr>
    <td>Website: <%=@place_info.website%></td>
  </tr>
  <tr>
    <td>Opening hours: <%=@place_info.opening_hours['weekday_text']%></td>
  </tr>
  <tr>
    <td>Opening now: <%=@place_info.opening_hours['open_now']%></td>
  </tr>
</table>

<img alt=<%=@place_info.name%> src=<%=@place_info.photos[0].fetch_url(800)%>
         width=150" height="70">
<img alt=<%=@place_info.name%> src=<%=@place_info.photos[1].fetch_url(800)%>
         width=150" height="70">
<img alt=<%=@place_info.name%> src=<%=@place_info.photos[2].fetch_url(800)%>
         width=150" height="70">
<img alt=<%=@place_info.name%> src=<%=@place_info.photos[3].fetch_url(800)%>
         width=150" height="70">

         
         <h1>Reviews</h1>
         <% @reviews_for_place.each do |review|  %>
             <tr>
               <td><%=review.comment%></td>
               <br>
               <td><%=review.rating%></td>
               <br>
               <td><%=review.date_posted%></td>
               <br>
               <td><%=review.user_name%></td>
               <br>
         
         <% end %>


<% if session[:user_id] != nil %>
<div>

<div>
<form method = "post" action = "/index/<%=session[:place_id]%>">
  <label for="review">Leave a review for </label>
  <br>
  <textarea id="review_box" name="review" rows="4" cols="50">
  </textarea> 
  <br>
  <label for="pet-select">How do you rate <%=@place_info.name%></label>

<select required name="rating" id="rating">
    <option value="" disabled selected>--Please choose an option--</option>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
</select>
<br>
  <input type="submit" value="Submit Review">
</form>

</div>

<form method = "post" action = "/favorite_restaurants">  
<input type="submit" value="Favourite">
</form>
</div>
<%end%>