<h1>Search results</h1>
<table>
  <% @sorted_restaurants.each do |restaurant| %>
    <tr>
      <td><%=restaurant[0]%></td>
      <td><%=restaurant[1]%></td>
      <td><%=restaurant[2]%></td>
      <td><img alt=<%=restaurant[0]%> src=<%=restaurant[3][0].fetch_url(800)%>
         width=150" height="70"></td>
      <td><form action="/index/<%=restaurant[4]%>" method="GET">
        <input type="submit" value="More info">
      </form></td>
    </tr>
  <% end %>
</table>

<div id="map"></div>
