
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fungis</title>
<link rel="stylesheet" href="/style.css">
</head>


<body>

<h1>Search results</h1>
<table>
  <% @sorted_restaurants.each do |restaurant| %>
    <tr>
      <td><%=restaurant[0]%></td>
      <td><%=restaurant[1]%></td>
      <td><%=restaurant[2]%></td>
      <% if restaurant[3][0] != nil %>
      <td><img alt=<%=restaurant[0]%> src=<%=restaurant[3][0].fetch_url(800)%>
        width="150" height="70"></td>
      <% else %>
        <td><img alt="Vegan food" src="https://hips.hearstapps.com/hmg-prod/images/vegan-caesar-salad-1615841852.jpg"
          width="150" height="70"></td>
      <% end %>
      <td><form action="/index/<%=restaurant[4]%>" method="GET">
        <input type="submit" value="More info">
      </form></td>
    </tr>
  <% end %>
</table>

<div id="map"></div>
<script async
src="https://maps.googleapis.com/maps/api/js?key=<%=$api_key%>&callback=initMap">
</script>


<script>

function initMap() {

var locations = JSON.parse(`<%= @info_bubbles.to_json %>`);

const centre = {lat: <%=@centre[0]%>, lng: <%=@centre[1]%>}
map = new google.maps.Map(document.getElementById('map'), {
  center: centre,
  zoom: 11,
  mapId: 'ca5dec382f52fe24'
});

    var infowindow = new google.maps.InfoWindow({
      maxWidth: 200,
  });

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i]["lat"], locations[i]["lng"]),
        map: map,
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent("<b>Name: </b>" + locations[i]["name"] + "<br /><b>Address: </b>" + locations[i]["address"]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
}

</script>

</body>

</html>